*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    font-size: 18px;
}

header{
    font-size: 15px;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.Scl{
    margin: 25px;
    margin-top: 15px;
    margin-left: 150px;
    width: 110px;
    height: 60px;
}

.Inicios{
    float: right;
    margin-right: 170px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.Inicios a{
    text-decoration: none;
    color: #000000;
    margin-right: 150px;
    font-size: 15px;
}

.Inicios a:hover{
    color: #004C87;
}

.barramenu{
    background-color: #F3F3F3;
    opacity: inherit;
    list-style: none;
    font-size: 5px;
    margin-top: 0px; 
    width: 100px;
    height: 130px;
    display: none; 
}




.grados:hover .barramenu{
    display: block;
}

.barramenu .nav-titulo{
    width: 100%;
}

.barramenu .nav-titulo a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 12.5px;
    box-sizing: border-box;
}

.barramenu .nav-titulo:hover{
    background-color: #fff;
    transition: 0.3s;
}

.Computadoras{
    width: 100%;;
    height: 500px;
    background-image: url(../img/computadora.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -10px;
    text-align: center;
     
}

.Menu{
    width: 100%;
    height: 500px;
    background-color: #fff;
}
